# What Would An Online Prostitute Do
# Data Visualization to Find Business Opportunities

## Setups

In [ ]:
# #installs
# !pip install numpy
# !pip install pandas
# !pip install seaborn
# !git clone https://github.com/cstorm125/kbank_alchemists
# !mv kbank_alchemists/* .
# !ls

## Imports

In [20]:
import numpy as np
import pandas as pd
import seaborn as sns

DATA_PATH = 'data/curry/'

## Problem Definition

Imagine that you are a twenty-something-year-old, straight female prostitute who just moved to Bangkok. You have surveyed the online prostitution scene and found a website where a sizeable number of entrepreneurs are posting their listings including demographics, available actions, locations, looks and channels of communications.

![](../img/curry_web.png)

With your scraping skills, you have collected the data and saved them as `curry_df.csv`. Based on this, you want to understand the market better and decide how to position yourself including but not limited to:

1. What services to offer?
2. What should you look like?
3. What areas should you be doing business?
4. How to communicate with clients?
5. How much should you charge?

## Data Quality Check

In [23]:
curry_df = pd.read_csv(f'{DATA_PATH}curry_df.csv')
print(curry_df.shape)
curry_df.head(10)

(693, 52)

,id,gender,age,action1,action2,action3,action4,action5,action6,action7,...,weight,breast,waist,hip,pic_count,tel,line,email,views_per_day,price
0,100,female,25.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,1,1,0,4.500000,NaN
1,101,female,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47.0,34.0,25.0,35.0,10,1,1,0,140.019608,2000.0
2,10121,female,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,34.0,24.0,35.0,1,0,1,0,193.833333,2500.0
3,10123,NaN,NaN,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,48.0,33.0,25.0,35.0,1,0,1,1,28.084746,2000.0
4,10124,female,23.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,48.0,34.0,24.0,35.0,1,1,1,0,63.355932,1500.0
5,10125,NaN,24.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,48.0,34.0,26.0,36.0,3,1,0,0,89.135593,1700.0
6,10127,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49.0,34.0,25.0,35.0,1,0,1,0,15.644068,2500.0
7,10128,NaN,NaN,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1,0,1,0,29.576271,1500.0
8,10129,female,23.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,73.0,34.0,32.0,42.0,1,0,0,0,382.293103,1500.0
9,10130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,1,0,17.258621,NaN

In [26]:
np.mean(curry_df.age), np.sum(np.isnan(curry_df.age))

(23.836935166994106, 184)

In [18]:
curry_df.columns

Index(['id', 'gender', 'age', 'action1', 'action2', 'action3', 'action4',
       'action5', 'action6', 'action7', 'action8', 'action9', 'action10',
       'action11', 'action12', 'action13', 'action14', 'action15', 'action16',
       'action17', 'action18', 'action19', 'action20', 'action21', 'action22',
       'action23', 'action24', 'action25', 'action26', 'action27', 'cl1',
       'cl2', 'cl3', 'cl4', 'cl5', 'cl6', 'car', 'hotel', 'guest_room',
       'curry_room', 'outdoor', 'height', 'weight', 'breast', 'waist', 'hip',
       'pic_count', 'tel', 'line', 'email', 'views_per_day', 'price'],
      dtype='object')

**Concept Assignment** What else would you like to know about the market given the data?

## What to Offer

## What to Look Like

## Where to Do Business

## How to Communicate

## How Much to Charge

## Take-home Challenge - Plot Your Own Figures

What other visualizations can we make to better understand the market and exploit the opportunities? Using what you learned today and [seaborn documentation](https://seaborn.pydata.org/), try to come up with some interesting insights based on this dataset, or even better a dataset you are working on!